%script{ :src => javascript_path("example-audio"), :type => 'text/javascript'}

%form#upload_audio(action="" method="post")
  %fieldset

    %legend Audio file

    %label(for="file") File to upload
    %input(name="file" type='file' placeholder="Choose file")

    %button.upload(type="button") Upload now

    #progressbar.progressbar
      %div(style="width: 500px")
        .indicator
      %ul.text

    %code#result

