%script{ :src => javascript_path("example-file"), :type => 'text/javascript'}

%form#upload_file(action="" method="post")
  %fieldset

    %legend Upload plain file

    %label(for="file") File:
    %input(name="file" type='file' placeholder="Choose file")

    %button.upload(type="button") Upload now

    .progressbar.progressbar
      %div(style="width: 500px")
        .indicator
      %ul.text

    %code.result

