%script{ :src => javascript_path("example-image"), :type => 'text/javascript'}

%form#upload_image(action="" method="post")
  %fieldset

    %legend Upload image

    %label(for="file") Image file:
    %input(name="file" type='file' placeholder="Choose file")

    %button.upload(type="button") Upload now

    .progressbar.progressbar
      %div(style="width: 500px")
        .indicator
      %ul.text

    .thumbnail_container

    %code.result

    %div
      %input(type='submit' value='Submit form')