!!! 5
%html
  %head
    %title Tiramisu Example
    :javascript
      // todo: remove
      var console;
      if (console === undefined) {
        var noop = function() {}
        console = {log: noop,debug: noop}
      }
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script{ :src => javascript_path("tiramisu"), :type => 'text/javascript'}
    %link{ :href => stylesheet_path("examples"), :rel => "stylesheet", :type => "text/css" }

  %body

    = yield

