!!! 5
%html
  %head
    %title Demo
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/jquery.js")
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/jquery.simplepoll.js?#{rand(2**64).to_s(36)}")
  %body

    %div(style="width:250px;")
      %div(id="bar" style="float:left;background-color: lightblue")= "&nbsp;"
      %br
      %div(id="progress" style="")

    %button(onclick="test()")
      Test
    :javascript
      function test() {
        var start = new Date();
        $.fn.SimplePoll('/api/tiramisu/v1/tick', "\n")
          .progress(function(chunk) {
            var parts = chunk.split(";")
            $('#bar').css('width', parts[0]+'%');
            $('#progress').html(parts[1]);
          })
          .then(function() {
            $('#progress').html("Ferdig nå. Det tok "+((new Date().getTime()-start.getTime())/1000)+" sek.");
          });
      }

