!!! 5
%html
  %head
    %title Demo
    :javascript
      // todo: remove
      var console;
      if (console === undefined) {
        var noop = function() {}
        console = {log: noop,debug: noop}
      }
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/jquery.js")
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/json2.js")
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/jquery.simplepoll.js?#{rand(2**64).to_s(36)}")
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/uploader.js?#{rand(2**64).to_s(36)}")
  %body

    :javascript
      $(function () {

        var ProgressBar = (function(statusTextEl, progressBarEl) {
          return {
            append: function(html) {
              statusTextEl.append(html);
            },
            html: function(html) {
              statusTextEl.html(html);
            },
            progress: function(val) {
              progressBarEl.css('style', val+'%');
            }
          }
        });

        var mkTransactionId = function() {
          return Math.random().toString(36).substring(2);
        }

        var progressBar = ProgressBar($('#progress .text'), $('#progress .bar'))
        var uid = "image:lifeloop.oa$farsdag";
        var form = $('#upload_form');
        var disableSubmit = function(e) {
          e.preventDefault();
          return false;
        }

        //var uploader = $.fn.fileUploader(form);
        var percent = 0;
        var uploader = $.fn['#{uploader}'](form);
        var doUpload = function() {
          progressBar.html('');
          var transaction_id = mkTransactionId();
          var poller = $.fn.SimplePoll('transactions/'+transaction_id+'/progress');
          poller.progress((function() {
              var actions = {
                uploading: function(percent) {
                  progressBar.append("<li>Laster opp... "+(~percent && percent+'%')+"</li>");
                  return true;
                },
                received: function(percent) {
                  progressBar.append("<li>Applikasjonen har mottatt bildet. Laster opp til Amazon.</li>");
                  return true;
                },
                transfering: function(percent) {
                  progressBar.append("<li>Laster opp til Amzn.</li>");
                  return true;
                },
                processing: function(percent) {
                  progressBar.append("<li>Bildet er lastet opp til Amzn. Lager miniatyrbilde...</li>");
                  return true;
                }
              };
              return function(events) {
                $.each(events, function(i, event) {
                  var parts = event.split(";");
                  console.log(parts)
                  if (parts[1] == 'received') {
                    delete actions.uploading;
                  }
                  if (actions[parts[1]]) actions[parts[1]](parts[0]);
                });
              };
            })())
            .then(function(res) {
              progressBar.append("<li>Ferdig. Minatyrbildet vises under.</li>");
            });

          form.bind('submit', disableSubmit); // disable form submission while we are uploading

          uploader.upload($('#file')[0], 'images/'+uid+"?transaction_id="+transaction_id)
            .then(function(xhr) {
              var res = JSON.parse(xhr.responseText);
              var thumb = res.image.sizes[100];
              $('#thumbnail_container').html('<img src="'+thumb+'">');
              $('#file').val('');
            })
            .fail(function (xhr) {
              //$('#uploaded_file_container').css('display', 'none');
              //$('#progress').html("Usj, det gikk visst ikke så bra :-(<br/>Feilmeldingen var:<br/> "+xhr.statusText);
            })
            .progress(function(e) {
              if (e.lengthComputable) {
                percent = Math.ceil((e.loaded / e.total)*50);
                poller.notify([percent+';uploading']);
              }
              else {
                poller.notify(['-1;uploading']);
              }
            })
            .always(function() {
              form.unbind('submit', disableSubmit);
            });
        }

        $('#upload_form').bind('submit', function(e) {
          doUpload();
          e.preventDefault();
          return false;
        });
      });

    Test with:
    %a(href="?uploader=XhrUploader") XHR
    |
    %a(href="?uploader=IframeUploader") Legacy (iframe)
    |
    %a(href="?") Default/Feature detected
    %form#upload_form(name="upload_form" action="/some/where/else" method="post")
      %div
        %div#progress(style="width:300px")
          .bar(style="float:left;background-color: lightblue;overflow:hidden;height: 4px;width:0")
          %br
          %ul.text
        %div(style="clear:both;overflow:hidden")
        #file_input_container
          Bildefil:
          #thumbnail_container
          #uploaded_file_container(style="display:none")
            Opplastet:
            %input#uploaded_file(name="uploaded_file" type='text' value="")
            %img#thumbnail(height="50" width="50")
          %input#file(name="file" type='file')
          %button#upload_btn Upload
      %div
        %input(type='submit' value='Last opp til Tootsie')
