!!! 5
%html
  %head
    %title Demo
    :javascript
      // todo: remove
      var console;
      if (console === undefined) {
        var noop = function() {}
        console = {log: noop,debug: noop}
      }
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/tiramisu.js")
    %script(type="text/javascript" src="/api/tiramisu/v1/assets/demo.js")
  %body

    :javascript
      $(function () {
        var form = $("#upload_form"),
            file_field = $("#file"),
            uid = 'document:tiramisu.test.document',
            endpoint = '/api/tiramisu/v1/documents',
            uploader = new FileUploader(form, file_field, endpoint+"/"+uid),
            uploading = false;
      
        form.bind('submit', function(e) {
          if (!uploading && $.trim(file_field.val()) != '') { // user has clicked submit, but file is not yet uploaded
            uploader.doUpload().then(function(uid) {
              $("#file_uid").val(uid);
              form.submit(); // now we can submit!
            });
            e.preventDefault();
            return false;
          }
          return true;
        });
        $('#upload_btn').bind('click', function() {
          uploader.doUpload().then(function(file) {
            $("#file_uid").val(JSON.stringify(file));
          });
        });
      });

    %form#upload_form(name="upload_form" action="" method="post")
      %p
        %input#file(name="file" type='file')
        %input#upload_btn(type="button" value="Upload document")
      %div
        Uploaded:
        %input#file_uid(name="uploaded_file" type='text' value="")

      %div
        %input(type='submit' value='Submit form')

  %div#progress(style="width:300px")
    .bar(style="float:left;background-color: lightblue;overflow:hidden;height: 4px;width:0")
    %br
    %ul.text
  %div(style="clear:both;overflow:hidden")
